/* BEGIN RESET */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/* END RESET */

/* GENERAL RULEZ */
body {
  font-family: "Montserrat";
  color: #4f6272;
  font-size: 12px;
  font-weight: 600;
}
li {
  list-style-type: none;
}
p {
  line-height: 2;
}
h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.container {
  width: 1024px;
  margin: auto;
}
.menu li {
  display: inline-block;
  padding: 12px 10px;
}
.menu li:hover {
  color: #fe765a;
}
.button {
  color: white;
  background: #fe765a;
  border: 1px solid #fe765a;
  margin-left: 10px;
  border-radius: 4%;
  padding: 12px 10px;
  text-decoration: none;
  display: inline-block;
}
.button.two {
  color: #fe765a;
  background: white;
}
.button:hover,
.button.two:hover {
  color: orange;
  background: lightgrey;
}
.col-right {
  float: right;
}
.col-left {
  float: left;
}
/* END GENERAL RULEZ */


/** HEADER **/
header {
  height: 810px;
}
/* MENU */
header nav {
  height: 8%;
  padding-top: 15px;
}
header nav.top {
  background: #f4f9fd;
  height: 8%;
}
header nav.top .button {
  display: inline;
}
header nav.bottom {
  height: 8%;
}
header nav.top img {
  height: 20px;
  vertical-align: middle;
}
header nav.top .menu .select {
  border: none;
  background: none;
  margin-right: 15px;
  font-family: font-family: "Montserrat";
  color: #4f6272;
}
header nav.top .menu li .us {
  padding-left: 20px;
  border-left: 1px solid black;
}
header nav.top .container .search {
  border: none;
  background: none;
}
/* END MENU */

/* HEAD */
header .head {
  height: 75%;
  background: #fff2ee;
  background-image: url(../img/jumbotron.png);
  background-size: auto;
  background-position: top;
}
header .head .container .cta {
  height: 50%;
  width: 50%;
  padding-top: 60px;
}
header .head .container .cta h2 {
  font-size: 45px;
}
header .head .container .cta h2:hover {
  font-size: 60px;
}
header .head .container .cta a.button {
  padding: 20px 40px;
  margin: 25px 0;
}
header .head .container .cta p:last-child {
  font-size: 10px;
}
/* END HEAD */

/* LINE */
header .line {
  height: 9%;
  background: #afebe4;
  border-top: 2px solid black;
  border-bottom: 4px solid black;
}
/* END HEAD */
/** END HEADER  **/

/** MAIN **/
/* MAIN TOP */
main {
  background: #f4f9fd;
}
main .fas {
  color: #fe765a;
  margin-right: 10px;
}
main .container img {
  height: 150px;
}
main .container .row1 {
  text-align: center;
  padding: 50px 150px;
}
/* end main raw1 */

/* main raw2 */
main .container .row2 {
  padding: 45px;
  margin-bottom: 30px;
  background: white;
  border: 1px solid #e9eff3;
  border-radius: 0.5%;
}
main .container .row2 .left {
  width: 30%;
  text-align: center;
}
main .container .row2 .right {
  width: 70%;
}
main .container .row2 .right .inline {
  display: inline-block;
  margin-right: 22px;
}
main .container .row2 .right ul li {
  padding: 20px 30px;
}
main .container .row2 hr {
  width: 450px;
  vertical-align: middle;
}
/* end main raw2 */

/* main raw3 */
main .box{
  padding: 45px;
  margin-bottom: 30px;
  background: white;
  border: 1px solid #e9eff3;
  border-radius: 0.5%;
  width: calc(94%/3);
  margin-right: 30px;
  text-align: center;
}
main .box ul {
  text-align: left;
}
main .container .row3 .box:last-child {
  margin-right: 0px;
}
main .box img {
  height: 100px;
}
main .box h2,
main .box h3 {
  padding: 20px 10px;
}
main .box p {
  padding-bottom: 30px;
}
main .box a {
  margin-top: 30px;
}
/* end main raw3 */
/* END MAIN TOP */

/* MAIN SECTION */
main .section {
  color: white;
  text-align: center;
  background: linear-gradient(#00bba6, #00aab8);
}
main .section h2 {
  font-size: 40px;
}
main .section .container .tittle {
  padding-top: 40px;
}
main .section .container .megabox {
  width: 100%;
  padding: 40px 0;
}
main .section .container .megabox .panel {
  width: 25%;
  margin: 0px;
  border: 1px solid white;
  padding: 20px 30px;
  border-top: none;
  border-left: none;
}
main .section .container .megabox .panel:nth-child(1n+5) {
  border-bottom: none;
}
main .section .container .megabox .panel:nth-child(4n+4) {
  border-right: none;
}
main .section .container .megabox .panel p {
  font-size: 12px;
}
main .section .container .megabox .panel img {
  height: 25px;
}
/* MAIN SECTION */

/* MAIN FIGURE */
.figure {
  background: White;
}
/* FIGURE TOP */
.figure .container .top {
  height: 250px;
}
.figure .container .top .left {
  width: 40%;
  padding: 45px;
}
.figure .container .top .right {
  width: 60%;
  padding: 45px;
}
.figure .top .left {
  width: 25%;
}
.figure .top .left div {
  padding: 15px 50px;
  text-align: center;
}
.figure .top .left div h2 {
  font-size: 40px;
}
.figure .top .right img {
  width: 25%;
  height: auto;
  padding: 15px;
}
/* END FIGURE TOP */

/* FIGURE BOTTOM */
.figure .container .bottom {
  height: 400px;
}
.figure .container .bottom .left {
  width: 50%;
  padding: 45px;
}
.figure .container .bottom .left .cta h4 {
  font-size: 30px;
  margin-bottom: 25px;
}
.figure .container .bottom .left .cta a.button {
  display: inline-block;
  padding: 20px 40px;
  margin: 25px 0;
}
.figure .container .bottom .left .cta p:last-child {
  font-size: 10px;
}
.figure .container .bottom .right {
  position: relative;
  height: 100%;
  width: 50%;
  padding: 45px;
}
.figure .container .bottom .right img {
  width: 250px;
  height: auto;
  position: absolute;
  right: 0;
  bottom: 100px;
}
/* END FIGURE BOTTOM */
/* END MAIN FIGURE */
/** END MAIN **/

/** FOOTER**/
footer {
  background: #32495b;
  color: white;
}
footer .fab {
  margin: 10px;
  color: white;
}
footer .top {
  padding-top: 30px;
}
footer .top .list {
  line-height: 2.5;
  width: 25%;
}
footer .top .list ul li .social li {
  display: inline-block;
}
footer .top .list ul li .social img {
  height: 15px;
  margin: 10px;
}
footer .button {
  background: white;
  color: #32495b;
  border: none;
}
footer .center .menu {
  text-align: center;
}
footer .center ul li {
  margin: auto;
  font-size: 15px;
}
footer .bottom {
  padding-top: 25px;
}
footer .copyright {
  color: white;
}
/** END FOOTER **/



/* PROVA CHATBOT */
.open-button {
  background-color: #fe765a;
  color: white;
  border: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 150px;
  right: 165px;
  border: none;
  z-index: 9;
}
.lama {
  display: none;
  position: fixed;
  border: none;
  z-index: 9;
  right: 185px;
  bottom: 130px;
  color: white;
  background: none;
}
.fas.fa-comments {
  font-size: 100px;
  color: lightblue;
}
/* Add styles to the form container */
.nuve {
  width: 250px;
  height: 250px;
  padding: 10px;
  background-color: lightblue;
  border-radius: 5%;
}
/* Full-width textarea */
.nuve textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 50px;
  border-radius: 5%;
}

body button .far,
body button .fas {
  font-size: 50px;
}

/* END PROVA CHATBOT */
