/* BEGIN RESET */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/* END RESET */

/* GENERAL RULEZ */
*{
  font-family: "Montserrat";
  color: #4f6272;
  font-size: 12px;
  font-weight: 600;
}
.container {
  width: 1024px;
  margin: auto;
}
.menu li {
  display: inline-block;
  padding: 12px 10px;
}
.button {
  color: white;
  background: #fe765a;
  border: 1px solid #fe765a;
  margin-left: 10px;
  border-radius: 4%;
  padding: 12px 10px;
  text-decoration: none;
}
.button.two {
  color: #fe765a;
  background: white;
}
.col-right {
  float: right;
}
.col-left {
  float: left;
}
/* END GENERAL RULEZ */


/** HEADER **/
header {
  height: 800px;
}
/* MENU */
header nav {
  height: 8%;
  padding-top: 15px;
}
header nav.top {
  background: #f4f9fd;
  height: 8%;
}
header nav.bottom {
  height: 8%;
}
header nav.top img {
  height: 20px;
  vertical-align: middle;
}
header nav.top .menu .select {
  border: none;
  background: none;
  margin-right: 15px;
}
header nav .top .menu .us {
  padding-left: 20px;
  border-left: 1px solid black;
}
header nav.top .container .search {
  border: none;
  background: none;
}
/* END MENU */

/* HEAD */
header .head {
  height: 70%;
  background: #fff2ee;
  background-image: url(../img/jumbotron.png);
  background-size: 100%;
}

header .head .container .cta {
  height: 50%;
  width: 50%;
  padding-top: 60px;
}
header .head .container .cta h2 {
  font-size: 45px;
}
header .head .container .cta a.button {
  display: inline-block;
  padding: 20px 40px;
  margin: 25px 0;
}
header .head .container .cta:first-child p{
  line-height: 2;
}
header .head .container .cta p:last-child {
  font-size: 10px;
}
/* END HEAD */

/* LINE */
header .line {
  height: 10%;
  background: #afebe4;
  border-top: 2px solid black;
  border-bottom: 3px solid black;
}
/* END HEAD */
/** END HEADER  **/
